*
{
    margin: 0;
    padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
   
}

h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20rem;
    margin-left: -25rem;
    position: relative;
  background: -webkit-linear-gradient(rgb(253, 253, 253), rgb(247, 247, 241));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
}


.scroll-prompt {
	position: fixed;
	z-index: 998;
	left: 70%;
	width: 200px;
	height: 200px;
}
.scroll-prompt-arrow-container {
		position: absolute;
		top: -5rem;
		left: 50%;
		margin-left: -18px;
		animation-name: bounce;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
}
.scroll-prompt-arrow {
		animation-name: opacity;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	}
	.scroll-prompt-arrow:last-child {
		animation-direction: reverse;
		margin-top: -6px;
	}
	.scroll-prompt-arrow > div {
		width: 36px;
		height: 36px;
		border-right: 8px solid #d859ae;
		border-bottom: 8px solid #370952;
		transform: rotate(45deg) translateZ(1px);
	}


@keyframes opacity {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.1;
	}

	20% {
		opacity: 0.2;
	}

	30% {
		opacity: 0.3;
	}

	40% {
		opacity: 0.4;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 0.6;
	}

	70% {
		opacity: 0.7;
	}

	80% {
		opacity: 0.8;
	}

	90% {
		opacity: 0.9;
	}

	100% {
		opacity: 1;
	}
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}

	10% {
		transform: translateY(3px);
	}

	20% {
		transform: translateY(6px);
	}

	30% {
		transform: translateY(9px);
	}

	40% {
		transform: translateY(12px);
	}

	50% {
		transform: translateY(15px);
	}

	60% {
		transform: translateY(18px);
	}

	70% {
		transform: translateY(21px);
	}

	80% {
		transform: translateY(24px);
	}

	90% {
		transform: translateY(27px);
	}

	100% {
		transform: translateY(30px);
	}
}
.btn button
{
	background-image: linear-gradient(rgb(216, 143, 156),rgb(207, 47, 108));
	border: none;
	color:white;
	text-shadow: 2px 2px #7597d6;
	border-radius: 50px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	position: relative;
	margin-top: 2.5rem;
	margin-left: 2rem;
	
}
.btn button:hover{
	
		box-shadow: inset 0px 0px  0px 2px rgb(190, 162, 166);

}
.btn-1 button
{ 
	background-image: linear-gradient(rgb(216, 143, 156),rgb(207, 47, 108));
	border: none;
	color:black;
	
	border-radius: 50px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	position: relative;
	left: 22rem;
	margin-top: 8rem;

	

}




#h2
{
	color: rgb(250, 249, 249);
	 text-align: center;
	  text-transform: uppercase;
	   margin-top: 3rem ; 
	   font-size: 3rem;
	   margin-left: 22rem;
	   text-shadow: 3px 3px rgb(8, 8, 8);
	

  
}


/* cards*/

.row
{
	text-align: center;
}
.card
{
	display:inline-block;
	width: 100px;
	height: 100px;
	background-color: rgb(208, 212, 182);
	cursor: pointer;
}
.card.done{
	cursor:default;

}

.card.done :hover{
	cursor:default;
	box-shadow: none;

}

.card:hover{
	
	box-shadow: inset 0px 0px  0px 2px rgb(206, 162, 169);
	box-sizing: border-box;
}

.red {
	background-color: red;
}
.cyan {
	background-color: rgb(0, 255, 255);
	
}
.blue {
	background-color: rgb(0, 17, 255);
}
.green {
	background-color: rgb(88, 165, 101);
}
.pink {
	background-color: pink;
}
.teal {
	background-color: teal;
}
.purple
 {
	background-color: rgb(92, 24, 131);
}
.yellow {
	background-color: yellow;
}



.color-hidden
{
	background-image: linear-gradient(to right, black, rgb(122, 119, 129), rgb(206, 207, 198));
	
}





































